*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.Square{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  font-weight: bold;

}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 105px;
}